{% extends 'base.html' %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link href="https://cdn.datatables.net/v/bm/dt-1.13.4/cr-1.6.2/fc-4.2.2/fh-3.3.2/rg-1.3.1/sb-1.4.2/sp-2.1.2/sl-1.6.2/datatables.min.css" rel="stylesheet"/>
<script src="https://cdn.datatables.net/v/bm/dt-1.13.4/cr-1.6.2/fc-4.2.2/fh-3.3.2/rg-1.3.1/sb-1.4.2/sp-2.1.2/sl-1.6.2/datatables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}
{% block hero %}is-primary{% endblock %}
{% block content %}
		<div class="bd-hero-heading">
			<h1 class="title algolia-lvl0">
				{% block title %} <p>DXCC / CQ Zones & ITU Zones</p> {% endblock %}
			</h1>
            <p class="subtitle">Member QSOs by DXCC / CQ Zones & ITU Zones</p>
		</div>
    </div>
</section>
<section>
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="box notification">
            <div class="notification is-info">
                {% for message in messages%}
                {{ message }}
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endwith %}
    </div>
</section>
<section>
    <div class="container">
        <div class="box">
            <div class="tabs is-toggle is-fullwidth">
                <ul>
                    <li class="is-active">
                        <a href="{{ url_for('waoarc.dxcctable') }}">
                            <span class="icon is-small"><i class="fa-solid fa-table"></i></span>
                            <span>Table</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('waoarc.dxccchart') }}">
                            <span class="icon is-small"><i class="fa-solid fa-chart-pie"></i></span>
                            <span>Chart</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('waoarc.dxccmap') }}">
                            <span class="icon is-small"><i class="fa-solid fa-map-location-dot"></i></span>
                            <span>Map</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="box">
            <h1 class="title">Members by DXCC</h1>
            <table id="dxcct" class="table is-striped is-hoverable">
                <thead>
                    <tr>
                        <th>Member</th>
                        <th>Callsigns</th>
                        <th>Total DXCC</th>
                    </tr>
                </thead>
                <tbody>
                    {% for call in dxccmembers %}
                    <tr>
                        <td>{{ call[0] }}</td>
                        <td>{{ call[1] }}</td>
                        <td>{{ call[2] }}</td>
                    </tr>
                    {% else %}
                    No DXCC data
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="box">
            <h1 class="title">Members by CQ Zone</h1>
            <table id="cqzt" class="table is-striped is-hoverable">
                <thead>
                    <tr>
                        <th>Member</th>
                        <th>Callsigns</th>
                        <th>Total CQZ</th>
                    </tr>
                </thead>
                <tbody>
                    {% for call in cqzmembers %}
                    <tr>
                        <td>{{ call[0] }}</td>
                        <td>{{ call[1] }}</td>
                        <td>{{ call[2] }}</td>
                    </tr>
                    {% else %}
                    No CQZ data
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="box">
            <h1 class="title">Members by ITU Zone</h1>
            <table id="ituzt" class="table is-striped is-hoverable">
                <thead>
                    <tr>
                        <th>Member</th>
                        <th>Callsigns</th>
                        <th>Total ITUZ</th>
                    </tr>
                </thead>
                <tbody>
                    {% for call in ituzmembers %}
                    <tr>
                        <td>{{ call[0] }}</td>
                        <td>{{ call[1] }}</td>
                        <td>{{ call[2] }}</td>
                    </tr>
                    {% else %}
                    No ITUZ data
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
<script>
$(document).ready(function () {
    $('#dxcct').DataTable({
        lengthMenu: [
            [10, 25, 50, -1],
            [10, 25, 50, 'All'],
        ],
        order: [[2, 'desc']]
    });

    $('#cqzt').DataTable({
        lengthMenu: [
            [10, 25, 50, -1],
            [10, 25, 50, 'All'],
        ],
        order: [[2, 'desc']]
    });

    $('#ituzt').DataTable({
        lengthMenu: [
            [10, 25, 50, -1],
            [10, 25, 50, 'All'],
        ],
        order: [[2, 'desc']]
    });

    setTimeout(function(){
        $(".notification").fadeOut("slow");
    }, 5000);

});
</script>
{% endblock %}