{% extends 'base.html' %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}
{% block hero %}is-primary{% endblock %}
{% block herobody %}
			<h1 class="title algolia-lvl0">
				{% block title %} <p>DXCC / CQ Zone & ITU Zone Charts</p> {% endblock %}
			</h1>
            <p class="subtitle">QSOs by DXCC / CQ Zone & ITU Zone</p>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="box">
            <div class="tabs is-toggle is-fullwidth">
                <ul>
                    <li>
                        <a href="{{ url_for('waoarc.dxcctable') }}">
                            <span class="icon is-small"><i class="fa-solid fa-table"></i></span>
                            <span>Table</span>
                        </a>
                    </li>
                    <li class="is-active">
                        <a href="{{ url_for('waoarc.dxccchart') }}">
                            <span class="icon is-small"><i class="fa-solid fa-chart-pie"></i></span>
                            <span>Chart</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('waoarc.dxccmap') }}">
                            <span class="icon is-small"><i class="fa-solid fa-map-location-dot"></i></span>
                            <span>Map</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tile is-ancestor">
            <div class="tile is-vertical is-parent">
                <div class="tile is-child box">
                    <h1 class="title">QSOs by DXCC</h1>
                    <div>
                        <canvas id="dxcc"></canvas>
                    </div>
                </div>
                <div class="tile is-child box">
                    <h1 class="title">QSOs by CQ Zone</h1>
                    <div>
                        <canvas id="cqz"></canvas>
                    </div>
                </div>               
                <div class="tile is-child box">
                    <h1 class="title">QSOs by ITU Zone</h1>
                    <div>
                        <canvas id="ituz"></canvas>
                    </div>
                </div>
            </div>
            <div class="tile is-vertical is-parent">
                <div class="tile is-child box">
                    <h1 class="title">Members QSOs by DXCC (340 Total)</h1>
                    {% for member in dxccmembers %}
                    <p>{{ member.0 }} : {{ member.1 }}</p>
                    <progress class="progress is-info" value="{{ member.1 }}" max="340"></progress>
                    {% endfor %}
                </div>
                <div class="tile is-child box">
                    <h1 class="title">Members QSOs by CQ Zone (40 Total)</h1>
                    {% for member in cqzmembers %}
                    <p>{{ member.0 }} : {{ member.1 }}</p>
                    <progress class="progress is-info" value="{{ member.1 }}" max="40"></progress>
                    {% endfor %}
                </div>
                <div class="tile is-child box">
                    <h1 class="title">Members QSOs by ITU Zone (90 Total)</h1>
                    {% for member in ituzmembers %}
                    <p>{{ member.0 }} : {{ member.1 }}</p>
                    <progress class="progress is-info" value="{{ member.1 }}" max="90"></progress>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block bottombody %}
<script>
const ctx = document.getElementById('dxcc');
const ctx1 = document.getElementById('ituz');
const ctx2 = document.getElementById('cqz');

new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: {{ dxcclabels|safe }},
        datasets: [{
            label: 'QSOs by DXCC',
            data: {{ dxccvalues }},
            hoverOffset: 4
            }]
    }
});

new Chart(ctx1, {
    type: 'doughnut',
    data: {
        labels: {{ cqzlabels|safe }},
        datasets: [{
            label: 'QSOs by CQ Zone',
            data: {{ cqzvalues }},
            hoverOffset: 4
            }]
    }
});

new Chart(ctx2, {
    type: 'doughnut',
    data: {
        labels: {{ ituzlabels|safe }},
        datasets: [{
            label: 'Memebers QSOs by ITU Zone',
            data: {{ ituzvalues }},
            hoverOffset: 4
            }]
    }
    
});
</script>
{% endblock %}