{% extends 'base.html' %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}
{% block hero %}is-primary{% endblock %}
{% block content %}
		<div class="bd-hero-heading">
			<h1 class="title algolia-lvl0">
				{% block title %} <p>Welcome to the Worked All OARC Season 2 Leaderboard</p> {% endblock %}
			</h1>
            <p class="subtitle">Only QSOs between 1 July 2023 and 31 August 2023 are counted on this page</p>
			{% if (callsigns is defined) and callsigns %}
			<div class="subtitle is-4 algolia-lvl1">
				<p>You have the following callsigns</p>     
			</div>
			{% endif %}
		</div>
    </div>
</section>
<section>
    <div class="box">
        <div class="tile is-ancestor">
            <div class="tile is-4 is-vertical is-parent">
                <div class="tile is-child box">
                    <h1 class="title"><i class="fa-solid fa-address-card"></i> <a href="{{ url_for('waoarc.users') }}">Members & Callsigns</a></h1>
                    <p class="subtitle">There are currently {{ facts.totalusers }} OARC members registered with {{ facts.totalcallsigns }} callsigns.</p>
                    <div class="block">
                        <p>Top Member is <span class="has-text-weight-semibold">{{ facts.topusers[0][0] }}</span> with <span class="has-text-weight-semibold">{{ facts.topusers[0][1] }}</span> QSOs</p>
                        <p>Top Callsign is <span class="has-text-weight-semibold">{{ facts.topcalls[0][1] }}</span>, owned by <span class="has-text-weight-semibold">{{ facts.topcalls[0][0] }}</span> with <span class="has-text-weight-semibold">{{ facts.topcalls[0][2] }}</span> QSOs</p>
                    </div>
                    <p>{{ facts.unclaimedcallsigns }} callsign{% if unclaimed|length == 1 %} is{% else %}s are{% endif %} identified in QSOs but unclaimed:</p>
                    {% if unclaimed %}
                    <ul>
                        {% for call in unclaimed %}
                        <li class="has-text-weight-semibold">{{ call[0] }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="tile is-child box">
                    <h1 class="title"><i class="fas fa-flag-usa" aria-hidden="true"></i><a href="{{ url_for('waoarc.dxcc') }}"> DXCC</a></h1>
                    <p class="subtitle">Members have made contact with:</p>
                    <div class="block">
                    <ul><li>{{ facts.totaldxcc }} unique DXCC,</li><li>{{ facts.totalcqz}} unique CQ Zones and</li><li>{{ facts.totalituz }} ITU Zones across all callsigns</li></ul>
                    </div>
                    <p class="subtitle">Top Ten DXCC members:</p>
                    {% if facts.dxcctable %}
                    <div class="block">
                    {% for dxcc in facts.dxcctable %}
                        {%- if loop.index > 10 %}{% break %}{% endif %}
                        <p><span class="has-text-weight-semibold">{{ dxcc.0 }}</span> worked <span class="has-text-weight-semibold">{{ dxcc.1 }}</span> DXCC{% if dxcc.1 > 1 %}s{% endif %}</p>
                    {% endfor %}
                    </div>
                    {% endif %}
                    <p class="subtitle">Top Ten CQZ members:</p>
                    {% if facts.cqztable %}
                    <div class="block">
                    {% for cqz in facts.cqztable %}
                        {%- if loop.index > 10 %}{% break %}{% endif %}
                        <p><span class="has-text-weight-semibold">{{ cqz.0 }}</span> worked <span class="has-text-weight-semibold">{{ cqz.1 }}</span> CQZ{% if cqz.1 > 1 %}s{% endif %}</p>
                    {% endfor %}
                    </div>
                    {% endif %}
                    <p class="subtitle">Top Ten ITUZ members:</p>
                    {% if facts.ituztable %}
                    <div class="block">
                    {% for ituz in facts.ituztable %}
                        {%- if loop.index > 10 %}{% break %}{% endif %}
                        <p><span class="has-text-weight-semibold">{{ ituz.0 }}</span> worked <span class="has-text-weight-semibold">{{ ituz.1 }}</span> ITUZ{% if ituz.1 > 1 %}s{% endif %}</p>

                    {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="tile is-parent is-vertical">
                <div class="tile is-child box">
                    <h1 class="title"><i class="fa-solid fa-tower-broadcast"></i> <a href="{{ url_for('waoarc.bands') }}">Bands and Modes</a></h1>
                    <p class="subtitle">Members have worked {{ facts.totalbands }} Bands and {{ facts.totalmodes }} Modes across all Callsigns</p>
                    <p class="subtitle">Top Ten members working bands:</p>
                    {% if facts.bandtable %}
                    <div class="block">
                    {% for band in facts.bandtable %}
                        {%- if loop.index > 10 %}{% break %}{% endif %}
                        <p><span class="has-text-weight-semibold">{{ band.0 }}</span> worked <span class="has-text-weight-semibold">{{ band.1 }}</span> band{% if band.1 > 1 %}s{% endif %}</p>
                    {% endfor %}
                    </div>
                    {% endif %}
                    <p class="subtitle">Top Ten members working modes:</p>
                    {% if facts.modetable %}
                    {% for mode in facts.modetable %}
                        {%- if loop.index > 10 %}{% break %}{% endif %}
                        <p><span class="has-text-weight-semibold">{{ mode.0 }}</span> worked <span class="has-text-weight-semibold">{{ mode.1 }}</span> mode{% if mode.1 > 1 %}s{% endif %}</p>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="tile is-child box">
                    <h1 class="title"><i class="fa-regular fa-calendar"></i><a href="{{ url_for('waoarc.dates') }}"> Dates & Times</a></h1>
                    <p class="subtitle">QSOs by Date and Time</p>
                    <div class="block">
                        <p>Today there have been <span class="has-text-weight-semibold">{{ facts.qsostoday }}</span> QSOs.</p>
                        <p>Yesterday there were <span class="has-text-weight-semibold">{{ facts.qsosyesterday }}</span> QSOs.</p>
                    </div>
                    <h4 class="title is-4">QSOs by Day</h1>
                    <table id="calls" class="table is-striped is-hoverable">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Total QSOs</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for qso in qsobyday %}
                            <tr>
                                <td>{{ qso[0] }}</td>
                                <td>{{ qso[1] }}</td>
                            </tr>
                            {% else %}
                            No QSOs
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tile is-parent is-vertical">
                <div class="tile is-child box">
                    <h1 class="title"><i class="fa-solid fa-headset"></i> Most Worked</h1>
                    <p class="subtitle">Most worked callsigns (Top 10)</p>
                    {% if workedcallsigns %}
                        {% for entry in workedcallsigns %}
                        <p><span class="has-text-weight-semibold">{{ entry.0 }}</span> worked as <span class="has-text-weight-semibold">{{ entry.1 }}</span> {{ entry.2 }} time{% if entry.2 > 1 %}s{% endif %}</p>
                        {% endfor %}
                    {% else %}
                        <p>Not enough QSOs loaded yet</p>
                    {% endif %}
                </div>
                <div class="tile is-child box">
                    <h1 class="title"><i class="fa-solid fa-map-location-dot"></i> <a href="{{ url_for('waoarc.grids') }}">Grids</a></h1>
                    <p class="subtitle">Members have worked {{ facts.totalgrids }} Gridsquares and activated {{ facts.totalmygrids }} Gridsquares across all Callsigns</p>
                    <p class="subtitle">Top Ten members working gridsquares:</p>
                    {% if facts.gridtable %}
                    <div class="block">
                    {% for grid in facts.gridtable %}
                        {%- if loop.index > 10 %}{% break %}{% endif %}
                        <p><span class="has-text-weight-semibold">{{ grid.0 }}</span> worked <span class="has-text-weight-semibold">{{ grid.1 }}</span> gridsquare{% if grid.1 > 1 %}s{% endif %}</p>
                    {% endfor %}
                    </div>
                    {% endif %}
                    <p class="subtitle">Top Ten members activating gridsquares:</p>
                    {% if facts.mygridtable %}
                    {% for grid in facts.mygridtable %}
                        {%- if loop.index > 10 %}{% break %}{% endif %}
                        <p><span class="has-text-weight-semibold">{{ grid.0 }}</span> activated <span class="has-text-weight-semibold">{{ grid.1 }}</span> gridsquare{% if grid.1 > 1 %}s{% endif %}</p>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
<script>
</script>
{% endblock %}