{% extends 'base.html' %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link href="https://cdn.datatables.net/v/bm/dt-1.13.4/cr-1.6.2/fc-4.2.2/fh-3.3.2/rg-1.3.1/sb-1.4.2/sp-2.1.2/sl-1.6.2/datatables.min.css" rel="stylesheet"/>
<script src="https://cdn.datatables.net/v/bm/dt-1.13.4/cr-1.6.2/fc-4.2.2/fh-3.3.2/rg-1.3.1/sb-1.4.2/sp-2.1.2/sl-1.6.2/datatables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}
{% block hero %}is-primary{% endblock %}
{% block herobody %}
			<h1 class="title algolia-lvl0">
				{% block title %} <p>Welcome to the Worked All OARC Season 2 Leaderboard</p> {% endblock %}
			</h1>
            <p class="subtitle">Only QSOs between 1 July 2023 and 31 August 2023 are counted on this page</p>
			{% if (callsigns is defined) and callsigns %}
			<div class="subtitle is-4 algolia-lvl1">
				<p>You have the following callsigns</p>     
			</div>
			{% endif %}
{% endblock %}
{% block content %}
    <div class="box">
        <div class="tile is-ancestor">
            <div class="tile is-4 is-vertical is-parent">
                <div class="tile is-child box">
                    <h1 class="title"><i class="fa-solid fa-address-card"></i> Members & Callsigns</h1>
                    <div class="tabs is-toggle is-fullwidth">
                        <ul>
                            <li>
                                <a href="{{ url_for('waoarc.usertable') }}">
                                    <span class="icon is-small"><i class="fa-solid fa-table"></i></span>
                                    <span>Table</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ url_for('waoarc.userchart') }}">
                                    <span class="icon is-small"><i class="fa-solid fa-chart-pie"></i></span>
                                    <span>Chart</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <p class="subtitle">There are currently {{ facts.totalusers }} OARC members registered with {{ facts.totalcallsigns }} callsigns.</p>
                    <div class="block">
                        <p>Top Member is <span class="has-text-weight-semibold">{{ facts.topusers[0][0] }}</span> with <span class="has-text-weight-semibold">{{ facts.topusers[0][1] }}</span> QSOs</p>
                        <p>Top Callsign is <span class="has-text-weight-semibold">{{ facts.topcalls[0][1] }}</span>, owned by <span class="has-text-weight-semibold">{{ facts.topcalls[0][0] }}</span> with <span class="has-text-weight-semibold">{{ facts.topcalls[0][2] }}</span> QSOs</p>
                    </div>
                    {% if worked %}
                    <p class="subtitle">Worked and worked by:</p>
                    <ul class="block">
                        {% for key, value in worked.items() %}
                            {% if loop.index <= 5 %}
                                <li><span class="has-text-weight-semibold">{{ key }}</span> worked {{ value.0 }} members and by {{ value.1 }} members.</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <p class="subtitle">Unclaimed:</p>
                    <p><span class="has-text-weight-semibold">{{ facts.unclaimedcallsigns }}</span> callsign{% if unclaimed|length == 1 %} is{% else %}s are{% endif %} identified in QSOs but unclaimed:</p>
                </div>
                <div class="tile is-child box">
                    <h1 class="title"><i class="fas fa-flag-usa" aria-hidden="true"></i> DXCC</h1>
                    <div class="tabs is-toggle is-fullwidth">
                        <ul>
                            <li>
                                <a href="{{ url_for('waoarc.dxcctable') }}">
                                    <span class="icon is-small"><i class="fa-solid fa-table"></i></span>
                                    <span>Table</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ url_for('waoarc.dxccchart') }}">
                                    <span class="icon is-small"><i class="fa-solid fa-chart-pie"></i></span>
                                    <span>Chart</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ url_for('waoarc.dxccmap') }}">
                                    <span class="icon is-small"><i class="fa-solid fa-map-location-dot"></i></span>
                                    <span>Map</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <p class="subtitle">Members have made contact with:</p>
                    <div class="block">
                    <ul><li>{{ facts.totaldxcc }} unique DXCC,</li><li>{{ facts.totalcqz}} unique CQ Zones and</li><li>{{ facts.totalituz }} ITU Zones across all callsigns</li></ul>
                    </div>
                    <p class="subtitle">Top Ten DXCC members:</p>
                    {% if facts.dxcctable %}
                    <div class="block">
                    {% for dxcc in facts.dxcctable %}
                        {%- if loop.index > 10 %}{% break %}{% endif %}
                        <p><span class="has-text-weight-semibold">{{ dxcc.0 }}</span> worked <span class="has-text-weight-semibold">{{ dxcc.1 }}</span> DXCC{% if dxcc.1 > 1 %}s{% endif %}</p>
                    {% endfor %}
                    </div>
                    {% endif %}
                    <p class="subtitle">Top Five CQZ members:</p>
                    {% if facts.cqztable %}
                    <div class="block">
                    {% for cqz in facts.cqztable %}
                        {%- if loop.index > 5 %}{% break %}{% endif %}
                        <p><span class="has-text-weight-semibold">{{ cqz.0 }}</span> worked <span class="has-text-weight-semibold">{{ cqz.1 }}</span> CQZ{% if cqz.1 > 1 %}s{% endif %}</p>
                    {% endfor %}
                    </div>
                    {% endif %}
                    <p class="subtitle">Top Five ITUZ members:</p>
                    {% if facts.ituztable %}
                    <div class="block">
                    {% for ituz in facts.ituztable %}
                        {%- if loop.index > 5 %}{% break %}{% endif %}
                        <p><span class="has-text-weight-semibold">{{ ituz.0 }}</span> worked <span class="has-text-weight-semibold">{{ ituz.1 }}</span> ITUZ{% if ituz.1 > 1 %}s{% endif %}</p>

                    {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="tile is-parent is-vertical">
                <div class="tile is-child box">
                    <h1 class="title"><i class="fa-regular fa-calendar"></i> Dates & Times</h1>
                    <div class="tabs is-toggle is-fullwidth">
                        <ul>
                            <li>
                                <a href="{{ url_for('waoarc.datestable') }}">
                                    <span class="icon is-small"><i class="fa-solid fa-table"></i></span>
                                    <span>Table</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ url_for('waoarc.dateschart') }}">
                                    <span class="icon is-small"><i class="fa-solid fa-chart-pie"></i></span>
                                    <span>Chart</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="block">
                        <p>Overall there have been <span class="has-text-weight-semibold">{{ facts.totalqsos }}</span> QSOs. Today there have been <span class="has-text-weight-semibold">{{ facts.qsostoday }}</span> QSOs. Yesterday there were <span class="has-text-weight-semibold">{{ facts.qsosyesterday }}</span> QSOs.</p>
                    </div>
                    <h4 class="subtitle">QSOs by Day</h4>
                    <table id="qsoday" class="table is-striped is-hoverable">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Total QSOs</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for qso in qsobyday %}
                            <tr>
                                <td>{{ qso[0] }}</td>
                                <td>{{ qso[1] }}</td>
                            </tr>
                            {% else %}
                            No QSOs
                            {% endfor %}
                        </tbody>
                    </table>
                    </br>
                    <h4 class="subtitle">QSOs by Week</h4>
                        <table id="qsoweek" class="table is-striped is-hoverable">
                            <thead>
                                <tr>
                                    <th>Week</th>
                                    <th>Total QSOs</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for qso in qsobyweek %}
                                <tr>
                                    <td>{{ qso[0]|int - 25 }}</td>
                                    <td>{{ qso[1] }}</td>
                                </tr>
                                {% else %}
                                No QSOs
                                {% endfor %}
                            </tbody>
                        </table>
                </div>
                <div class="tile is-child box">
                    <h1 class="title"><i class="fa-solid fa-tower-broadcast"></i> <a href="{{ url_for('waoarc.bands') }}">Bands and Modes</a></h1>
                    <p class="subtitle">Members have worked {{ facts.totalbands }} Bands and {{ facts.totalmodes }} Modes across all Callsigns</p>
                    <p class="subtitle">Top Ten members working bands:</p>
                    {% if facts.bandtable %}
                    <div class="block">
                    {% for band in facts.bandtable %}
                        {%- if loop.index > 10 %}{% break %}{% endif %}
                        <p><span class="has-text-weight-semibold">{{ band.0 }}</span> worked <span class="has-text-weight-semibold">{{ band.1 }}</span> band{% if band.1 > 1 %}s{% endif %}</p>
                    {% endfor %}
                    </div>
                    {% endif %}
                    <p class="subtitle">Top Ten members working modes:</p>
                    {% if facts.modetable %}
                    {% for mode in facts.modetable %}
                        {%- if loop.index > 10 %}{% break %}{% endif %}
                        <p><span class="has-text-weight-semibold">{{ mode.0 }}</span> worked <span class="has-text-weight-semibold">{{ mode.1 }}</span> mode{% if mode.1 > 1 %}s{% endif %}</p>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="tile is-parent is-vertical">
                <div class="tile is-child box">
                    <h1 class="title"><i class="fa-solid fa-headset"></i> Events</h1>
                    <p class="subtitle">SOTA Event QSOs</p>
                    <div class="tabs is-toggle is-fullwidth">
                        <ul>
                            <li>
                                <a href="{{ url_for('waoarc.sotatable') }}">
                                    <span class="icon is-small"><i class="fa-solid fa-table"></i></span>
                                    <span>Table</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ url_for('waoarc.sotachart') }}">
                                    <span class="icon is-small"><i class="fa-solid fa-chart-pie"></i></span>
                                    <span>Chart</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ url_for('waoarc.sotamap') }}">
                                    <span class="icon is-small"><i class="fa-solid fa-map-location-dot"></i></span>
                                    <span>Map</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <p class="subtitle">SOTA Activations / Summit to Summits and Chases between OARC members.</p>
                    <div class="block">
                        <p>Overall there have been <span class="has-text-weight-semibold">{{ facts.totalsummit }}</span> summits activated across <span class="has-text-weight-semibold">{{ facts.totalregion }}</span> regions, in <span class="has-text-weight-semibold">{{ facts.totalassoc }}</span> Associations.</p>
                    </div>
                    <p class="subtitle">POTA Event QSOs</p>                   
                    <div class="tabs is-toggle is-fullwidth">
                        <ul>
                            <li>
                                <a href="{{ url_for('waoarc.potatable') }}">
                                    <span class="icon is-small"><i class="fa-solid fa-table"></i></span>
                                    <span>Table</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ url_for('waoarc.potachart') }}">
                                    <span class="icon is-small"><i class="fa-solid fa-chart-pie"></i></span>
                                    <span>Chart</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ url_for('waoarc.potamap') }}">
                                    <span class="icon is-small"><i class="fa-solid fa-map-location-dot"></i></span>
                                    <span>Map</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <p class="subtitle">POTA Activations / Park to Park and Chases between OARC members.</p>
                    <div class="block">
                        <p>Overall there have been <span class="has-text-weight-semibold">{{ facts.totalpsummit }}</span> sites activated across <span class="has-text-weight-semibold">{{ facts.totalpregion }}</span> regions, in <span class="has-text-weight-semibold">{{ facts.totalpassoc }}</span> Associations.</p>
                    </div>
                </div>
                <div class="tile is-child box">
                    <h1 class="title"><i class="fa-solid fa-map-location-dot"></i> Grids</h1>
                    <div class="tabs is-toggle is-fullwidth">
                        <ul>
                            <li>
                                <a href="{{ url_for('waoarc.gridtable') }}">
                                    <span class="icon is-small"><i class="fa-solid fa-table"></i></span>
                                    <span>Table</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ url_for('waoarc.gridchart') }}">
                                    <span class="icon is-small"><i class="fa-solid fa-chart-pie"></i></span>
                                    <span>Chart</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ url_for('waoarc.workedmap') }}">
                                    <span class="icon is-small"><i class="fa-solid fa-map-location-dot"></i></span>
                                    <span>Map</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <p class="subtitle">Members have worked {{ facts.totalgrids }} Gridsquares and activated {{ facts.totalmygrids }} Gridsquares across all Callsigns</p>
                    <p class="subtitle">Top Ten members working gridsquares:</p>
                    {% if facts.gridtable %}
                    <div class="block">
                    {% for grid in facts.gridtable %}
                        {%- if loop.index > 10 %}{% break %}{% endif %}
                        <p><span class="has-text-weight-semibold">{{ grid.0 }}</span> worked <span class="has-text-weight-semibold">{{ grid.1 }}</span> gridsquare{% if grid.1 > 1 %}s{% endif %}</p>
                    {% endfor %}
                    </div>
                    {% endif %}
                    <p class="subtitle">Top Ten members activating gridsquares:</p>
                    {% if facts.mygridtable %}
                    {% for grid in facts.mygridtable %}
                        {%- if loop.index > 10 %}{% break %}{% endif %}
                        <p><span class="has-text-weight-semibold">{{ grid.0 }}</span> activated <span class="has-text-weight-semibold">{{ grid.1 }}</span> gridsquare{% if grid.1 > 1 %}s{% endif %}</p>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block bottombody %}
<script>
    $(document).ready(function () {
        $('#qsoday').DataTable({
            lengthMenu: [
                [10, 25, 50, -1],
                [10, 25, 50, 'All'],
            ],
            stateSave: true,
            scrollY: '200px',
            scrollCollapse: true,
            paging: false,
            searching: false,
            order: [[0, 'desc']]
        });

        $('#qsoweek').DataTable({
        lengthMenu: [
            [10, 25, 50, -1],
            [10, 25, 50, 'All'],
        ],
        stateSave: true,
        scrollY: '200px',
        scrollCollapse: true,
        paging: false,
        searching: false,
        order: [[0, 'desc']]
    });
});
</script>
{% endblock %}