{% extends 'base.html' %}
{% block scripts %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
crossorigin=""/>
 <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
{% endblock %}
{% block hero %}is-primary{% endblock %}
{% block content %}
		<div class="bd-hero-heading">
			<h1 class="title algolia-lvl0">
				{% block title %} <p>Gridsquares Worked by all members</p> {% endblock %}
			</h1>
            <p class="subtitle">Members have worked XX gridsquares</p>
		</div>
    </div>
</section>
<section>
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="box notification">
            <div class="notification is-info">
                {% for message in messages%}
                {{ message }}
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endwith %}
    </div>
</section>
<section>
    <div class="box">
        <div style="height: 480px;" id="map"></div>
    </div>
</section>
<script>
var map = L.map('map').setView([51.505, -0.09], 13);

L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

{% for bound in bounds%}
    L.rectangle({{ bound }}, {color: "#ff7800", weight: 1}).addTo(map);
{% endfor %}
    map.fitBounds({{ extent }});
</script>
{% endblock %}