<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OARC Logger</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
    <script src="https://kit.fontawesome.com/0b3761f75b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@6.5.95/css/materialdesignicons.min.css" />
    <script>
        document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Add a click event on each of them
        $navbarBurgers.forEach( el => {
        el.addEventListener('click', () => {

            // Get the target from the "data-target" attribute
            const target = el.dataset.target;
            const $target = document.getElementById(target);

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');

        });
        });

        });
    </script>
    {% block scripts %}
    {% endblock %}
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="{{ url_for('static', filename='OARCLogger.png') }}" width="112" height="28">
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navMenu" class="navbar-menu">
            <div class="navbar-start">
                <a href="{{ url_for('users.home') }}" class="navbar-item">
                    Home
                </a>
                {% if current_user.is_authenticated %}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="{{ url_for('users.profile', user=current_user.name) }}">
                    {{ current_user.name }}'s Logbooks
                    </a>
                    <div class="navbar-dropdown">
                    {% for call in current_user.callsigns %}
                        <a class="navbar-item" href="{{ url_for('callsigns.call', callsign=call.name | replace('/','_')) }}">
                            {{ call.name }}
                        </a>
                    {% endfor %}
                    </div>
                </div>
                {% endif %}
                {% if current_user.is_authenticated %}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="{{ url_for('configurations.configlist', username=current_user.name) }}">
                    {{ current_user.name }}'s Configs
                    </a>
                    <div class="navbar-dropdown">
                    {% if current_user.configurations|count > 0 %}
                        {% for config in current_user.configurations %}
                            <a class="navbar-item" href="{{ url_for('configurations.configview', id=config.id) }}">
                                {{ config.name }}
                            </a>
                        {% endfor %}
                    {% else %}
                        <a class="navbar-item" href="{{ url_for('configurations.configlist', username=current_user.name) }}">
                            You have no configurations.
                        </a>
                    {% endif %}
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="{{ url_for('rigs.riglist', username=current_user.name) }}">
                            {{ current_user.name}}'s Rigs
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="{{ url_for('antennas.antennalist', username=current_user.name) }}">
                            {{ current_user.name}}'s Antennas
                        </a>                                
                    </div>
                </div>
                {% endif %}
                {% if current_user.is_authenticated %}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="{{ url_for('events.eventlist', username=current_user.name) }}">
                    {{ current_user.name }}'s Events
                    </a>
                    <div class="navbar-dropdown">
                    {% if current_user.events|count > 0 %}
                        {% for event in current_user.events %}
                            <a class="navbar-item" href="{{ url_for('events.eventview', id=event.id) }}">
                                {{ event.name }}
                            </a>
                        {% endfor %}
                    {% else %}
                            <a class="navbar-item" href="{{ url_for('events.eventlist', username=current_user.name) }}">
                                You have no events.
                            </a>
                    {% endif %}                             
                    </div>
                </div>
                {% endif %}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                    More
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/about">
                            About
                        </a>
                        <a class="navbar-item" href="/gettingstarted">
                            Getting Started
                        </a>                                
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="https://github.com/smurphboy/OARCLogger/issues" target=”_blank”>
                            Report an issue (Github)
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar-end" id="navMenu">
            <div class="buttons">
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('users.profile', user=current_user.name) }}" class="button is-light">
                    Profile
                </a>
                {% endif %}
                {% if not current_user.is_authenticated %}
                <a href="{{ url_for('users.login') }}" class="button is-light">
                    Login
                </a>
                <a href="{{ url_for('users.signup') }}" class="button is-primary">
                    Sign Up
                </a>
                {% endif %}
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('users.logout') }}" class="button">
                    Logout
                </a>
                {% endif %}
            </div>
        </div>
    </nav>
    <section class="hero {% block hero %}is-light{% endblock %}">
        <div class="hero-body">
            {% block content %}
            {% endblock %}
        </div>
    </section>
    {% block bottombody %}
    {% endblock %}
</body>
<footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>OARC Logger</strong> by <a href="https://qrz.com/db/M0SMU">M0SMU - Simon Murphy</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
      </p>
    </div>
  </footer>
</html>