{% extends 'base.html' %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link href="https://cdn.datatables.net/v/bm/dt-1.13.4/cr-1.6.2/fc-4.2.2/fh-3.3.2/rg-1.3.1/sb-1.4.2/sp-2.1.2/sl-1.6.2/datatables.min.css" rel="stylesheet"/>
<script src="https://cdn.datatables.net/v/bm/dt-1.13.4/cr-1.6.2/fc-4.2.2/fh-3.3.2/rg-1.3.1/sb-1.4.2/sp-2.1.2/sl-1.6.2/datatables.min.js"></script>
{% endblock %}
{% block hero %}is-primary{% endblock %}
{% block content %}
            <div class="bd-hero-heading">
                <h1 class="title is-size-1">
                    {% block title %} QSOs for {{ station_callsign }} {% endblock %}
                </h1>
                <div class="subtitle is-4 algolia-lvl1">
                    <p>DXCC is {{ get_adif_id(station_callsign) }}: {{ countrylookup(station_callsign) }}, ITU Zone is {{ dxccituz(station_callsign) }}, CQ Zone is {{ dxcccqz(station_callsign) }}, {{ qsos|length }} QSOs for this callsign.</p>     
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="box notification">
                <div class="notification is-info">
                    {% for message in messages%}
                    {{ message }}
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% endwith %}
            <div class="box">
                <h1 class="title"><a href="{{ url_for('events.eventlist', username=current_user.name) }}">Selected Events</a></h1>
                <nav class="level">
                    <div class="level-left">
                        <div class="level-item">
                            {% for event in current_user.selected_events %}
                            <div class="level-item">
                                <div class="control">
                                    <div class="tags has-addons">
                                        <a class="tag is-primary" href="{{ url_for ('events.eventview', id=event.id) }}" >{{ event.name }}</a>
                                        <span class="tag is-info is-light">{{ event.type }}</span>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            <a class="button is-link" href="{{ url_for('events.selectevents', username=current_user.name) }}">Change Selected</a>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="box">
                <h1 class="title">QSOs</h1>
                <table id="qsos" class="table is-striped is-hoverable">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Callsign</th>
                            <th>Edit</th>
                            <th>Band</th>
                            <th>Mode</th>
                            <th>Gridsquare</th>
                            <th>My Gridsquare</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for qso in qsos %}
                        <tr>
                            <td>{{ qso.qso_date }}</td>
                            <td>{{ qso.time_on }}</td>
                            <td><span class="icon-text"><span><a href="{{url_for('qsos.viewqso', id=qso.id)}}">{{ qso.call }}<span class="icon"><i class="fa-solid fa-magnifying-glass is-info"></i></span></a></span></span></td>
                            <td><a class="is-link is-small" href="{{ url_for ('qsos.editqso', id=qso.id) }}"><span class="icon is-small"><i class="fa-solid fa-pen-to-square"></i></span><span>Edit</span></a></td>
                            <td>{{ qso.band }}</td>
                            <td>{{ qso.mode }}</td>
                            <td>{{ qso.gridsquare }}</td>
                            <td>{{ qso.my_gridsquare }}</td>
                            <td><a class="has-text-danger is-small" href="{{ url_for ('qsos.qsodelete', id=qso.id, callsign=station_callsign | replace('/','_')) }}" onclick="return confirm('Are you sure you want to delete this entry?')">Delete</a></td>                        </tr>
                        {% else %}
                        No QSOs
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="box">
                <div class="level">
                    <div class="level-left">
                        <p class="level-item">Add a new QSO for this callsign</p>
                        <a class="button is-link level-item" href="{{ url_for('qsos.postnewqso', station_callsign=station_callsign | replace('/','_')) }}">Add QSO</a>
                    </div>
                    <div class="level-right">
                        <p class="level-item">Export QSOs for this callsign</p>
                        <a class="button is-link" href="{{ url_for ('callsigns.callsignexport', id=callsignid | replace('/','_'))  }}"><span class="icon"><i class="fa-solid fa-file-arrow-down"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
<script>
$(document).ready(function () {
    $('#qsos').DataTable({
        lengthMenu: [
            [10, 25, 50, -1],
            [10, 25, 50, 'All'],
        ],
        columnDefs: [
            { orderable: false, targets: [4, 8] }
        ]
    });

    setTimeout(function(){
        $(".notification").fadeOut("slow");
    }, 5000);

});
</script>
{% endblock %}