{% extends 'base.html' %}
{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Functions to open and close a modal
        function openModal($el) {
        $el.classList.add('is-active');
        }
    
        function closeModal($el) {
        $el.classList.remove('is-active');
        }
    
        function closeAllModals() {
        (document.querySelectorAll('.modal') || []).forEach(($modal) => {
            closeModal($modal);
        });
        }
    
        // Add a click event on buttons to open a specific modal
        (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
        const modal = $trigger.dataset.target;
        const $target = document.getElementById(modal);
    
        $trigger.addEventListener('click', () => {
            openModal($target);
        });
        });
    
        // Add a click event on various child elements to close the parent modal
        (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button.cancel') || []).forEach(($close) => {
        const $target = $close.closest('.modal');
    
        $close.addEventListener('click', () => {
            closeModal($target);
        });
        });

        // Add a keyboard event to close all modals
        document.addEventListener('keydown', (event) => {
        const e = event || window.event;
    
        if (e.keyCode === 27) { // Escape key
            closeAllModals();
        }
        });
    });
</script>
<script>  
    $(document).ready(function(){  
         $('#add_ant').click(function(){  
              var name = $('#name').val(); 
              console.log(name);
              console.log('test');  
              if(username != '')  
              {  
                   $.ajax({  
                        url:"/antenna/create",  
                        method:"POST",  
                        data: {name:name},  
                        success:function(data)  
                        {  
                             alert(data);  
                             if(data == 'No-data')  
                             {  
                                  alert("Invalid Name");  
                             }  
                             else
                             {  
                                  $('#loginModal').hide();  
                                  location.reload();  
                             }  
                        }  
                   });  
              }  
              else
              {  
                   alert("Both Fields are required");  
              }  
         });    
    });  
</script>   
{% endblock %}
{% block hero %}is-primary{% endblock %}
{% block content %}
            <div class="bd-hero-heading">
                <h1 class="title algolia-lvl0">
                    {% block title %} <p>Add a New Station Configuration for {{ username }}</p> {% endblock %}
                </h1>
                <div class="subtitle is-4 algolia-lvl1">
                    <p>Enter Station Configuration details below and press Add:</p>     
                </div>
            </div>
        </div>
    </section>
    </section>
        <div class="box">
            <form action="{{ url_for ('configurations.configcreate') }}" method="POST">
                {{ form.csrf_token }}
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            {{ form.name.label(class_='label') }}
                            <div class="control">
                                {{ form.name(class_="input") }}
                            </div>
                            <p class="help">Name your Station Configuration, for example [IC-705 on EFHW at home QTH]</p>
                        </div>
                        {% if form.name.errors %}
						<ul class="errors">
							{% for error in form.name.errors %}
								<li>{{ error }}</li>
							{% endfor %}
						</ul>
                        {% endif %}
                        <nav class="level">
                            <div class="level-left">
                                <div class="level-item">
                                    <div class="field">
                                        {{ form.antenna.label(class_="label") }}
                                        <div class="control">
											<div class="select">
                                        	{{ form.antenna() }}
												<p class="help">Select the antenna for this configuration</p>
											</div>
                                            <button type="button" class="js-modal-trigger button is-primary" data-target="modal-add-antenna">
                                                +
                                            </button>
                                        </div>
                                    </div>
                                    {% if form.antenna.errors %}
									<ul class="errors">
										{% for error in form.comment.errors %}
											<li>{{ error }}</li>
										{% endfor %}
									</ul>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="level-right">
                                <div class="level-item">
                                    <div class="field">
                                        {{ form.rig.label(class_="label") }}
                                        <div class="control">
											<div class="select">
	                                        {{ form.rig() }}
											<p class="help">Select the rig for this configuration</p>
											</div>
                                            <button type="button" class="js-modal-trigger button is-primary" data-target="modal-add-rig">
                                                +
                                            </button>
                                        </div>
                                    </div>
                                    {% if form.rig.errors %}
									<ul class="errors">
										{% for error in form.rig.errors %}
											<li>{{ error }}</li>
										{% endfor %}
									</ul>
                                    {% endif %}
                                </div>
                            </div>
                        </nav>
                    </div>
                    <div class="column">
                        <div class="field">
                            {{ form.comment.label(class_="label") }}
                            <div class="control">
                            {{ form.comment(class_="textarea") }}
                            </div>
                            <p class="help">Use this for notes about the configuration.</p>
                        </div>
                        {% if form.comment.errors %}
                            <ul class="errors">
                                {% for error in form.comment.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="control">
                    <p>
                        <input type="submit" class="button is-link" value="Add Station Configuration">
                    </p>
                </div>
                <input type="hidden" name="formsubmitted" value="config">
            </form>
        </div>
    </section>
{% endblock %}
{% block bottombody %}
<div id="modal-add-antenna" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Add Antenna</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <form method="POST" id="antform">
                {{ form_ant.csrf_token }}
                <div class="field">
                    {{ form_ant.name.label(class_='label') }}
                    <div class="control">
                        {{ form_ant.name(class_="input ant") }}
                    </div>
                    <p class="help">Name your Antenna, for example [EFHW]</p>
                </div>
                {% if form_ant.name.errors %}
                <ul class="errors">
                    {% for error in form_ant.name.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <input type="hidden" name="formsubmitted" value="antenna">
            </form> 
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success ant" name="add_ant" type="submit" form="antform">Add Antenna</button>
            <button class="button cancel">Cancel</button>
        </footer>
    </div>
</div>
<div id="modal-add-rig" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Add Rig</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <form method="POST" id="rigform">
                {{ form_rig.csrf_token }}
                <div class="field">
                    {{ form_rig.name.label(class_='label') }}
                    <div class="control">
                        {{ form_rig.name(class_="input rig") }}
                    </div>
                    <p class="help">Name your Rig, for example [IC-705]</p>
                </div>
                {% if form_rig.name.errors %}
                <ul class="errors">
                    {% for error in form_rig.name.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <input type="hidden" name="formsubmitted" value="rig">
            </form> 
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success" name="add_rig" type="submit" form="rigform">Add Rig</button>
            <button class="button cancel">Cancel</button>
        </footer>
    </div>
</div>
{% endblock %}