{% extends 'base.html' %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Functions to open and close a modal
        function openModal($el) {
        $el.classList.add('is-active');
        }
    
        function closeModal($el) {
        $el.classList.remove('is-active');
        }
    
        function closeAllModals() {
        (document.querySelectorAll('.modal') || []).forEach(($modal) => {
            closeModal($modal);
        });
        }
    
        // Add a click event on buttons to open a specific modal
        (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
        const modal = $trigger.dataset.target;
        const $target = document.getElementById(modal);
    
        $trigger.addEventListener('click', () => {
            openModal($target);
        });
        });
    
        // Add a click event on various child elements to close the parent modal
        (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button.cancel') || []).forEach(($close) => {
        const $target = $close.closest('.modal');
    
        $close.addEventListener('click', () => {
            closeModal($target);
        });
        });

        // Add a keyboard event to close all modals
        document.addEventListener('keydown', (event) => {
        const e = event || window.event;
    
        if (e.keyCode === 27) { // Escape key
            closeAllModals();
        }
        });
    });
</script>  
{% endblock %}
{% block hero %}is-warning{% endblock %}
{% block herobody %}
                <h1 class="title algolia-lvl0">
                    {% block title %} <p>Add / Edit a Station Configuration for {{ username }}</p> {% endblock %}
                </h1>
                <div class="subtitle is-4 algolia-lvl1">
                    <p>Enter Station Configuration details below and press Save Changes:</p>     
                </div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="box">
            <form method="POST" id="configform">
                {{ form.csrf_token }}
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        {{ form.name.label(class_='label') }}
                    </div>
                    <div class="field-body">
                        <div class="control">
                            {{ form.name(class_="input") }}
                            <p class="help">Name your Station Configuration, for example [IC-705 on EFHW at home QTH]</p>
                        </div>
                    </div>
                </div>
                {% if form.name.errors %}
                <ul class="errors">
                    {% for error in form.name.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <div class="field is-horizontal has-addons">
                    <div class="field-label is-normal">
                        {{ form.antenna.label(class_="label") }}
                    </div>
                    <div class="field-body has-addons">
                        <div class="control">
                            <div class="select">
                                {{ form.antenna() }}
                            </div>
                            <a class="js-modal-trigger button is-primary" data-target="modal-add-antenna">
                                +
                            </a>
                            <p class="help">Select the antenna for this configuration</p>
                        </div>
                    </div>
                </div>
                {% if form.antenna.errors %}
                <ul class="errors">
                    {% for error in form.comment.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <div class="field is-horizontal has-addons">
                    <div class="field-label is-normal">
                        {{ form.rig.label(class_="label") }}
                    </div>
                    <div class="field-body has-addons">
                        <div class="control">
                            <div class="select">
                                {{ form.rig() }}
                            </div>
                            <a class="js-modal-trigger button is-primary" data-target="modal-add-rig">
                                +
                            </a>
                            <p class="help">Select the rig for this configuration</p>
                        </div>
                    </div>
                </div>
                {% if form.rig.errors %}
                <ul class="errors">
                    {% for error in form.rig.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        {{ form.comment.label(class_="label") }}
                    </div>
                    <div class="field-body is-expanded">
                        <div class="control">
                        {{ form.comment(class_="input", placeholder_="Use this for notes about the configuration.") }}
                        </div>
                    </div>
                </div>
                {% if form.comment.errors %}
                <ul class="errors">
                    {% for error in form.comment.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <input type="hidden" name="formsubmitted" value="config">
                <nav class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <p>
                                <input type="submit" form="configform" class="button is-link" value="Save Changes">
                            </p>
                        </div>
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            <a class="button is-link is-light" href="{{ url_for ('configurations.configlist', username=current_user.name) }}">Cancel</a>                       
                        </div>
                    </div>
                </nav>
            </form>
        </div>
    </div>
{% endblock %}
{% block bottombody %}
<div id="modal-add-antenna" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Add Antenna</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <form method="POST" id="antform">
                {{ form_ant.csrf_token }}
                <div class="field">
                    {{ form_ant.name.label(class_='label') }}
                    <div class="control">
                        {{ form_ant.name(class_="input ant") }}
                    </div>
                    <p class="help">Name your Antenna, for example [EFHW]</p>
                </div>
                {% if form_ant.name.errors %}
                <ul class="errors">
                    {% for error in form_ant.name.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <div class="field">
                    {{ form_ant.manufacturer.label(class_='label') }}
                    <div class="control">
                        {{ form_ant.manufacturer(class_="input ant") }}
                    </div>
                    <p class="help">Add the manufacturer of the antenna, for example [Sotabeams]</p>
                </div>
                {% if form_ant.manufacturer.errors %}
                <ul class="errors">
                    {% for error in form_ant.manufacturer.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <div class="field">
                    {{ form_ant.comment.label(class_='label') }}
                    <div class="control">
                        {{ form_ant.comment(class_="input ant") }}
                    </div>
                    <p class="help">Add any comments about the antenna</p>
                </div>
                {% if form_ant.comment.errors %}
                <ul class="errors">
                    {% for error in form_ant.comment.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <input type="hidden" name="formsubmitted" value="antenna">
            </form> 
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success ant" name="add_ant" type="submit" form="antform">Add Antenna</button>
            <button class="button cancel">Cancel</button>
        </footer>
    </div>
</div>
<div id="modal-add-rig" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Add Rig</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <form method="POST" id="rigform">
                {{ form_rig.csrf_token }}
                <div class="field">
                    {{ form_rig.name.label(class_='label') }}
                    <div class="control">
                        {{ form_rig.name(class_="input rig") }}
                    </div>
                    <p class="help">Name your Rig, for example [IC-705]</p>
                </div>
                {% if form_rig.name.errors %}
                <ul class="errors">
                    {% for error in form_rig.name.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <div class="field">
                    {{ form_rig.manufacturer.label(class_='label') }}
                    <div class="control">
                        {{ form_rig.manufacturer(class_="input rig") }}
                    </div>
                    <p class="help">Add the manufacturer of the rig, for example [ICOM]</p>
                </div>
                {% if form_rig.manufacturer.errors %}
                <ul class="errors">
                    {% for error in form_rig.manufacturer.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <div class="field">
                    {{ form_rig.comment.label(class_='label') }}
                    <div class="control">
                        {{ form_rig.comment(class_="input rig") }}
                    </div>
                    <p class="help">Add any comments about the rig</p>
                </div>
                {% if form_rig.comment.errors %}
                <ul class="errors">
                    {% for error in form_rig.comment.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <input type="hidden" name="formsubmitted" value="rig">
            </form> 
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success" name="add_rig" type="submit" form="rigform">Add Rig</button>
            <button class="button cancel">Cancel</button>
        </footer>
    </div>
</div>
{% endblock %}