{% extends 'base.html' %}

{% block hero %}is-primary{% endblock %}
{% block content %}
		<div class="bd-hero-heading">
			<h1 class="title algolia-lvl0">
				{% block title %} <p>Welcome, {{ current_user.name }}</p> {% endblock %}
			</h1>
			{% if (callsigns is defined) and callsigns %}
			<div class="subtitle is-4 algolia-lvl1">
				<p>You have the following callsigns</p>     
			</div>
			{% endif %}
		</div>
    </div>
</section>
<section>
    <div class="box">
        <div class="tile is-ancestor">
            <div class="tile is-4 is-vertical is-parent">
                <div class="tile is-child box">
                    <h1 class="title"><a href="{{ url_for('users.profile', user=current_user.name) }}">Callsigns</a></h1>
                    <p class="subtitle">You have {{ current_user.callsigns | length }} callsigns with {{ totalqsos }} QSOs in total</p>
                    {% for callsign in current_user.callsigns %}
                    <ul>
                        <li><a href="{{ url_for ('callsigns.call', callsign=callsign['name'] | replace('/','_'))  }}">{{ callsign.name }}</a> with {{ qsocount(callsign.name) }} QSOs</li>
                    </ul>
                    {% endfor %}
                </div>
                <div class="tile is-child box">
                    <p class="title">DXCC</p>
                    <p class="subtitle">You have made contact with {{ dxcccounts|length }} unique DXCC across all callsigns</p>
                    <p class="subtitle">Top Ten DXCC are:</p>
                    {% for dxcc, count in dxcccounts.items() %}
                    <ul>
                        {%- if loop.index > 10 %}{% break %}{% endif %}<li>{{ dxcc }} {{ count }}</li>
                    </ul>
                    {% endfor %}
                </div>
            </div>
            <div class="tile is-parent">
                <div class="tile is-child box">
                    <h1 class="title">Bands and Modes</h1>
                    <p>You have worked {{ bands|length }} Bands and {{ modes|length }} Modes across all your Callsigns</p>
                </div>
                <div class="tile is-child box">
                    <h1 class="title">Time and Date</h1>
                    <p>You have worked {{ bands|length }} Bands and {{ modes|length }} Modes across all your Callsigns</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}