{% extends "base.html" %}
{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Functions to open and close a modal
        function openModal($el) {
        $el.classList.add('is-active');
        }
    
        function closeModal($el) {
        $el.classList.remove('is-active');
        }
    
        function closeAllModals() {
        (document.querySelectorAll('.modal') || []).forEach(($modal) => {
            closeModal($modal);
        });
        }
    
        // Add a click event on buttons to open a specific modal
        (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
        const modal = $trigger.dataset.target;
        const $target = document.getElementById(modal);
    
        $trigger.addEventListener('click', () => {
            openModal($target);
        });
        });
    
        // Add a click event on various child elements to close the parent modal
        (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button.cancel') || []).forEach(($close) => {
        const $target = $close.closest('.modal');
    
        $close.addEventListener('click', () => {
            closeModal($target);
        });
        });

        // Add a keyboard event to close all modals
        document.addEventListener('keydown', (event) => {
        const e = event || window.event;
    
        if (e.keyCode === 27) { // Escape key
            closeAllModals();
        }
        });
    });
</script>  
{% endblock %}
{% block content %}
		<div class="bd-hero-heading">
			<h1 class="title algolia-lvl0">
				{% block title %} <p>Welcome, {{ current_user.name }}</p> {% endblock %}
			</h1>
			{% if (callsigns is defined) and callsigns %}
			<div class="subtitle is-4 algolia-lvl1">
				<p>You have the following callsigns</p>     
			</div>
			{% endif %}
		</div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="box">
            <h1 class="title"><a href="{{ url_for('events.eventlist', username=current_user.name) }}">Selected Events</a></h1>
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                {% for event in current_user.selected %}
                    <li><a href="{{ url_for ('events.eventview', id=event.selevent.id) }}">{{ event.selevent.name }}</a></li>
                {% endfor %}
                </ul>
            </nav>
            <a class="button is-link" href="{{ url_for('events.selectevents', username=current_user.name) }}">Selected Simon</a>
        </div>
        <div class="box">
            <h1 class="title">Callsigns</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Callsign</th>
                        <th>DXCC</th>
                        <th>QSOs</th>
                        <th>Last QSO</th>
                        <th>New QSO</th>
                        <th>Manage</th>
                        <th>Del Callsign</th>
                    </tr>
                </thead>
                <tbody>
                {% for callsign in current_user.callsigns %}
                    <tr>
                        <td>{{ callsign.id }}</td>
                        <td><a href="{{ url_for ('callsigns.call', callsign=callsign['name'] | replace('/','_'))  }}">{{ callsign.name }}</a></td>
                        <td>{{ dxcclookup(callsign.name) }}</td>
                        <td>{{ qsocount(callsign.name) }}</td>
                        <td>{% if latestqso(callsign.name) != 'N/A' %}{{ latestqso(callsign.name) }}{% endif %}</td>
                        <td><a class="button is-link" href="{{ url_for('qsos.postnewqso', station_callsign=callsign.name | replace('/','_')) }}">+</a></td>
                        <td><a class="button is-link" href="{{ url_for ('callsigns.call', callsign=callsign.name | replace('/','_'))  }}" disabled><span class="icon"><i class="fa-solid fa-gear"></i></span></a></td>
                        <td>
                            <form method="POST" action="{{ url_for('callsigns.callsigndelete', id=callsign.id) }}">
                                <input class="button is-danger" type="submit" value="Delete Callsign" onclick="return confirm ('Are you sure you want to delete this callsign, this will only delete the callsign, not associated QSOs')"">
                            </form>
                        </td>
                    </tr>
                </tbody>
                {% else %}
                <div class="level">
                    <div class="level-left">
                        <p class="level-item">You have no callsigns defined, please add one.</p>
                    </div>
                    <div class="level-right">
                        <p class="level-item">Add a new callsign</p>
                        <a type="button" class="js-modal-trigger button is-link" data-target="modal-add-callsign"">Add a callsign</a>
                    </div>
                </div>
                {% endfor %}
            </table>
        </div>
        <div class="box">
            <div class="level">
                <div class="level-left">
                    <p class="level-item">Add a new callsign</p>
                    <a type="button" class="js-modal-trigger button is-link" data-target="modal-add-callsign"">Add a callsign</a>
                </div>
                <div class="level-right">
                    <p class="level-item">Click to select and import an ADI file.</p>
                    <a class="button is-link level-item" href="{{ url_for('qsos.uploadqsos', user=current_user.name )}} ">Select ADI File</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block bottombody %}
<div id="modal-add-callsign" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Add Callsign</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <form method="POST" id="callsignform">
                {{ form.csrf_token }}
                <div class="field">
                    {{ form.name.label(class_='label') }}
                    <div class="control">
                        {{ form.name(class_="input rig") }}
                    </div>
                    <p class="help">Callsign [eg M7ETU]</p>
                </div>
                {% if form.name.errors %}
                <ul class="errors">
                    {% for error in form.name.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <input type="hidden" name="formsubmitted" value="callsign">
            </form> 
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success" name="add_callsign" type="submit" form="callsignform">Add Callsign</button>
            <button class="button cancel">Cancel</button>
        </footer>
    </div>
</div>
{% endblock %}