{% extends "base.html" %}
{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Functions to open and close a modal
        function openModal($el) {
        $el.classList.add('is-active');
        }
    
        function closeModal($el) {
        $el.classList.remove('is-active');
        }
    
        function closeAllModals() {
        (document.querySelectorAll('.modal') || []).forEach(($modal) => {
            closeModal($modal);
        });
        }
    
        // Add a click event on buttons to open a specific modal
        (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
        const modal = $trigger.dataset.target;
        const $target = document.getElementById(modal);
    
        $trigger.addEventListener('click', () => {
            openModal($target);
        });
        });
    
        // Add a click event on various child elements to close the parent modal
        (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button.cancel') || []).forEach(($close) => {
        const $target = $close.closest('.modal');
    
        $close.addEventListener('click', () => {
            closeModal($target);
        });
        });

        // Add a keyboard event to close all modals
        document.addEventListener('keydown', (event) => {
        const e = event || window.event;
    
        if (e.keyCode === 27) { // Escape key
            closeAllModals();
        }
        });
    });
</script>  
{% endblock %}
{% block content %}
		<div class="bd-hero-heading">
			<h1 class="title algolia-lvl0">
				{% block title %} <p>Welcome, {{ current_user.name }}</p> {% endblock %}
			</h1>
			{% if (callsigns is defined) and callsigns %}
			<div class="subtitle is-4 algolia-lvl1">
				<p>You have the following callsigns</p>     
			</div>
			{% endif %}
		</div>
    </div>
</section>
<section class="section">
	<div class="box">
		{% for callsign in current_user.callsigns %}
		<div class="level">
			<div class="level-left">
				<a class="level-item" href="{{ url_for ('callsigns.call', callsign=callsign['name'] | replace('/','_'))  }}">{{ callsign['name'] }}</a><p class="level-item">which has {{ qsocount(callsign.name) }} QSOs{% if latestqso(callsign.name) != 'N/A' %} and that last QSO was on {{ latestqso(callsign.name) }}{% endif %}</p>
			</div>
			<div class="level-right">
                <a class="button is-link level-item" href="{{ url_for ('callsigns.call', callsign=callsign['name'] | replace('/','_'))  }}" disabled>Manage Duplicates</a>
				<a class="button is-link level-item" href="{{ url_for ('callsigns.call', callsign=callsign['name'] | replace('/','_'))  }}">View QSOs</a>
				<a class="button is-link level-item" href="{{ url_for('qsos.postnewqso', station_callsign=callsign.name | replace('/','_')) }}">Log New QSO</a>
			</div>
		</div>
		{% else %}
		<div class="level">
			<div class="level-left">
				<p class="level-item">You have no callsigns defined, please add one.</p>
			</div>
			<div class="level-right">
				<button class="button level-item is-link" onclick='window.location.href="https://twitter.com/home?lang=en";'>Add Callsign</button>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="box">
		<div class="level">
			<div class="level-left">
				<p class="level-item">Add a new callsign</p>
				<a type="button" class="js-modal-trigger button is-link" data-target="modal-add-callsign"">Add a callsign</a>
			</div>
			<div class="level-right">
				<p class="level-item">Click to select and import an ADI file.</p>
				<a class="button is-link level-item" href="{{ url_for('qsos.uploadqsos', user=current_user.name )}} ">Select ADI File</a>
			</div>
		</div>
	</div>
</section>
{% endblock %}
{% block bottombody %}
<div id="modal-add-callsign" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Add Callsign</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <form method="POST" id="callsignform">
                {{ form.csrf_token }}
                <div class="field">
                    {{ form.name.label(class_='label') }}
                    <div class="control">
                        {{ form.name(class_="input rig") }}
                    </div>
                    <p class="help">Callsign [eg M7ETU]</p>
                </div>
                {% if form.name.errors %}
                <ul class="errors">
                    {% for error in form.name.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <input type="hidden" name="formsubmitted" value="callsign">
            </form> 
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success" name="add_callsign" type="submit" form="callsignform">Add Callsign</button>
            <button class="button cancel">Cancel</button>
        </footer>
    </div>
</div>
{% endblock %}