{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Add a New QSO {% endblock %}</h1>

    <form method="POST">
        {{ form.csrf_token }}
        <p>
            {{ form.qso_date.label }}
            {{ form.qso_date }}
        </p>

        {% if form.qso_date.errors %}
            <ul class="errors">
                {% for error in form.qso_date.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <p>
            {{ form.time_on.label }} {{ form.time_on }}
        </p>

        {% if form.time_on.errors %}
            <ul class="errors">
                {% for error in form.time_on.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <p>
            {{ form.call.label }}
            {{ form.call() }}
        </p>

        {% if form.call.errors %}
            <ul class="errors">
                {% for error in form.call.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <p>
            {{ form.mode() }} {{ form.mode.label }}
        </p>

        {% if form.mode.errors %}
            <ul class="errors">
                {% for error in form.mode.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <p>
            {{ form.band.label }}
            {{ form.band() }}
        </p>

        {% if form.band.errors %}
            <ul class="errors">
                {% for error in form.band.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <p>
            {{ form.gridsquare.label }}
            {{ form.gridsquare() }}
        </p>

        {% if form.gridsquare.errors %}
            <ul class="errors">
                {% for error in form.gridsquare.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <p>
            {{ form.my_gridsquare.label }}
            {{ form.my_gridsquare() }}
        </p>

        {% if form.my_gridsquare.errors %}
            <ul class="errors">
                {% for error in form.my_gridsquare.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <p>
            <input type="submit" value="Add">
        </p>
    </form>

{% endblock %}