{% extends 'base.html' %}

{% block hero %}is-warning{% endblock %}
{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Functions to open and close a modal
        function openModal($el) {
        $el.classList.add('is-active');
        }
    
        function closeModal($el) {
        $el.classList.remove('is-active');
        }
    
        function closeAllModals() {
        (document.querySelectorAll('.modal') || []).forEach(($modal) => {
            closeModal($modal);
        });
        }
    
        // Add a click event on buttons to open a specific modal
        (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
        const modal = $trigger.dataset.target;
        const $target = document.getElementById(modal);
    
        $trigger.addEventListener('click', () => {
            openModal($target);
        });
        });
    
        // Add a click event on various child elements to close the parent modal
        (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button.cancel') || []).forEach(($close) => {
        const $target = $close.closest('.modal');
    
        $close.addEventListener('click', () => {
            closeModal($target);
        });
        });

        // Add a keyboard event to close all modals
        document.addEventListener('keydown', (event) => {
        const e = event || window.event;
    
        if (e.keyCode === 27) { // Escape key
            closeAllModals();
        }
        });
    });
</script>  
{% endblock %}
{% block content %}
            <div class="bd-hero-heading">
                <h1 class="title is-size-1">
                    {% block title %} Rigs for {{ username }} {% endblock %}
                </h1>
                <div class="subtitle is-4 algolia-lvl1">
                    <p>{{ allrigs|length }} Rigs for this user.</p>     
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container is-max-desktop">
            <div class="box">
                <table class="table is-striped is-hoverable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Edit</th>
                            <th>Name</th>
                            <th>Manfacturer</th>
                            <th>Used in Configs</th>
                            <th>Comment</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rig in rigpage.items %}
                        <tr>
                            <td>{{ rig.id }}</td>
                            <td><a class="button is-link is-small" href="{{ url_for ('rigs.rigedit', id=rig.id) }}"><span class="icon is-small"><i class="fa-solid fa-pen-to-square"></i></span><span>Edit</span></a></td>
                            <td><a href="{{ url_for ('rigs.rigview', id=rig.id) }}" title="{{ rig.name }}">{{ rig.name }}</a></td>
                            <td>{% if rig.manufacturer %}{{ rig.manufacturer|truncate (20) }}{% endif %}</td>
                            <td>{% if rig.configurations %}{{ rig.configurations|length }}{% endif %}</td>
                            <td>{% if rig.comment %}{{ rig.comment|truncate (20) }}{% endif %}</td>
                            <td><a class="button is-danger is-small" href="{{ url_for ('rigs.rigdelete', id=rig.id) }}" onclick="return confirm('Are you sure you want to delete this entry?')">Delete</a></td>
                        </tr>
                        {% else %}
                        No Rigs yet
                        {% endfor %}
                    </tbody>
                </table>
                <nav class="pagination" role="navigation" aria-label="pagination">
                    <a class="pagination-previous" {% if rigpage.has_prev %} href="{{ url_for('rigs.riglist', username=current_user.name, page=riglist.prev_num) }}"{% else %}disabled {% endif %} title="This is the first page">Previous</a>
                    <a class="pagination-next" {% if rigpage.has_next %}href="{{ url_for('rigs.riglist', username=current_user.name, page=riglist.next_num) }}"{% else %}disabled {% endif %}>Next page</a>
                    <ul class="pagination-list">
                        {% for page_num in rigpage.iter_pages() %}
                            {% if page_num %}
                                {% if page_num != rigpage.page %}
                                <li>
                                    <a class="pagination-link" href="{{ url_for('rigs.riglist', username=current_user.name, page=page_num) }}" aria-label="Goto page {{ page_num }}">{{ page_num }}</a>
                                </li>
                                {% else %}
                                <li>
                                    <a class="pagination-link is-current" href="{{ url_for('rigs.riglist', username=current_user.name, page=page_num) }}" aria-label="Page {{ page_num }}" aria-current="page">{{ page_num }}</a>
                                </li>
                                {% endif %}
                            {% else %}
                                <li>
                                    <span class="pagination-ellipsis">&hellip;</span>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </nav>
            </div>
            <div class="box">
                <div class="level">
                    <div class="level-left">
                        <button type="button" class="js-modal-trigger button is-primary" data-target="modal-add-rig">
                            Add a new Rig
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block bottombody %}
<div id="modal-add-rig" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Add Rig</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <form method="POST" id="antform">
                {{ form.csrf_token }}
                <div class="field">
                    {{ form.name.label(class_='label') }}
                    <div class="control">
                        {{ form.name(class_="input ant") }}
                    </div>
                    <p class="help">Name your Rig, for example [IC-705]</p>
                </div>
                {% if form.name.errors %}
                <ul class="errors">
                    {% for error in form.name.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <div class="field">
                    {{ form.manufacturer.label(class_='label') }}
                    <div class="control">
                        {{ form.manufacturer(class_="input ant") }}
                    </div>
                    <p class="help">Add the manufacturer of the rig [ICOM]</p>
                </div>
                {% if form.manufacturer.errors %}
                <ul class="errors">
                    {% for error in form.manufacturer.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <div class="field">
                    {{ form.comment.label(class_='label') }}
                    <div class="control">
                        {{ form.comment(class_="input ant") }}
                    </div>
                    <p class="help">Add any comments about the Rig</p>
                </div>
                {% if form.comment.errors %}
                <ul class="errors">
                    {% for error in form.comment.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <input type="hidden" name="formsubmitted" value="rig">
            </form> 
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success ant" name="add_ant" type="submit" form="antform">Add Rig</button>
            <button class="button cancel">Cancel</button>
        </footer>
    </div>
</div>
{% endblock %}