{% extends 'base.html' %}
{% block scripts %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
   integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
   crossorigin=""/>
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
   integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
   crossorigin=""></script>
<script src="https://ha8tks.github.io/Leaflet.Maidenhead/src/L.Maidenhead.js"></script>
{% endblock %}
{% block hero %}is-primary{% endblock %}
{% block content %}
		<div class="bd-hero-heading">
			<h1 class="title is-size-1">
				{% block title %} <p>View a QSO</p> {% endblock %}
			</h1>
		</div>
	</div>
</section>
<section class="section">
	<div class="box">
        <h3 class="title">QSO from <a href="{{ url_for('callsigns.call', callsign=qso.station_callsign | replace('/', '_')) }}">{{ qso.station_callsign }}</a> to {{ qso.call }} on {{ qso.qso_date }} at {{ qso.time_on }}</h3>
    </div>
    <div class="box">
		<div class="columns">
			<div class="column">
				<div class="box">
					<p class="title has-text-grey">Date & Time</p>
					<nav class="level">
						<div class="level-left">
							<div class="level-item">
								<div class="icon-text">
									<span class="icon">
										<i class="far fa-calendar"></i>
									</span>
									<span>QSO Date: {{ qso.qso_date }}</span>
								</div>
							</div>
						</div>
						{% if qso.qso_date_off %}
						<div class="level-right">
							<div class="level-item">
								<div class="icon-text">
									<span class="icon">
										<i class="far fa-calendar"></i>
									</span>
									<span>QSO Date Off: {{ qso.qso_date_off }}</span>
								</div>
							</div>
						</div>
						{% endif %}
					</nav>
					<nav class="level">
						<div class="level-left">
							<div class="level-item">
								<div class="icon-text">
									<span class="icon">
										<i class="far fa-clock"></i>
									</span>
									<span>QSO Time On: {{ qso.time_on }}</span>
								</div>
							</div>
						</div>
						{% if qso.time_off %}
						<div class="level-right">
							<div class="level-item">
								<div class="icon-text">
									<span class="icon">
										<i class="far fa-clock"></i>
									</span>
									<span>QSO Date Off: {{ qso.time_off }}</span>
								</div>
							</div>
						</div>
						{% endif %}
					</nav>
				</div>
				<div class="box">
					<p class="title has-text-grey">Bands & Modes</p>
					<nav class="level">
						<div class="level-left">
							<div class="level-item">
								<div class="icon-text">
									<span class="icon">
										<i class="fa-solid fa-tower-broadcast"></i>
									</span>
									<span>Band: {{ qso.band }}</span>
								</div>
							</div>
						</div>
						{% if qso.band_rx %}
						<div class="level-right">
							<div class="level-item">
								<div class="icon-text">
									<span class="icon">
										<i class="fa-solid fa-tower-broadcast"></i>
									</span>
									<span>Band RX: {{ qso.band_rx }}</span>
								</div>
							</div>
						</div>
						{% endif %}
					</nav>
					{% if qso.freq or qso.freq_rx %}
					<nav class="level">
						{% if qso.freq %}
						<div class="level-left">
							<div class="level-item">
								<div class="icon-text">
									<span class="icon">
										<i class="fa-solid fa-tower-broadcast"></i>
									</span>
									<span>Freq: {{ qso.freq | MhzFormat }}</span>
								</div>
							</div>
						</div>
						{% endif %}
						{% if qso.freq_rx %}
						<div class="level-right">
							<div class="level-item">
								<div class="icon-text">
									<span class="icon">
										<i class="fa-solid fa-tower-broadcast"></i>
									</span>
									<span>Freq RX: {{ qso.freq_rx | MhzFormat }}</span>
								</div>
							</div>
						</div>
						{% endif %}
					</nav>
					{% endif %}
					<nav class="level">
						<div class="level-left">
							<div class="level-item">
								<div class="icon-text">
									<span class="icon">
										<i class="fa-solid fa-wave-square"></i>
									</span>
									<span>Mode: {{ qso.mode }}</span>
								</div>
							</div>
						</div>
						{% if qso.submode %}
						<div class="level-right">
							<div class="level-item">
								<div class="icon-text">
									<span class="icon">
										<i class="fa-solid fa-wave-square"></i>
									</span>
									<span>Submode: {{ qso.submode }}</span>
								</div>
							</div>
						</div>
						{% endif %}
					</nav>
					{% if qso.sat_mode or qso.sat_name %}
					<nav class="level">
						{% if qso.sat_name %}
						<div class="level-left">
							<div class="level-item">
								<div class="icon-text">
									<span class="icon">
										<i class="fa-solid fa-satellite"></i>
									</span>
									<span>Sat Name: {{ qso.sat_name}}</span>
								</div>
							</div>
						</div>
						{% endif %}
						{% if qso.sat_mode %}
						<div class="level-right">
							<div class="level-item">
								<div class="icon-text">
									<span class="icon">
										<i class="fa-solid fa-satellite"></i>
									</span>
									<span>Sat Mode: {{ qso.sat_mode }}</span>
								</div>
							</div>
						</div>
						{% endif %}
					</nav>
					{% endif %}
				</div>
			</div>
			<div class="column">
				<div class="box">
					<p class="title has-text-grey">Locations</p>
                    {% if qso.gridsquare or qso.my_gridsquare %}
                    <nav class="level">
                        {% if qso.gridsquare %}
                        <div class="level-left">
                            <div class="level-item">
                                <div class="icon-text">
                                    <span class="icon">
                                        <i class="fas fa-location-arrow"></i>
                                    </span>
                                    <span>Gridsquare: {{ qso.gridsquare}}</span>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if qso.my_gridsquare %}
                        <div class="level-right">
                            <div class="level-item">
                                <div class="icon-text">
                                    <span class="icon">
                                        <i class="fas fa-location-arrow"></i>
                                    </span>
                                    <span>My Gridsquare: {{ qso.my_gridsquare }}</span>
                                </div>
                            </div>

                        {% endif %}
                            <div class="level-item">
                                <button class="js-modal-trigger button is-link is-small" data-target="modal-js-map">
                                    View Map
                                </button>
                            </div>
                        </div>
                    </nav>
                    {% endif %}
                    {% if qso.sota_ref or qso.my_sota_ref %}
                    <nav class="level">
                        {% if qso.sota_ref %}
                        <div class="level-left">
                            <div class="level-item">
                                <div class="icon-text">
                                    <span class="icon">
                                        <i class="fas fa-mountain"></i>
                                    </span>
                                    <span>SOTA Ref: {{ qso.sota_ref}}</span>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if qso.my_sota_ref %}
                        <div class="level-right">
                            <div class="level-item">
                                <div class="icon-text">
                                    <span class="icon">
                                        <i class="fas fa-mountain"></i>
                                    </span>
                                    <span>My SOTA Ref: {{ qso.my_sota_ref }}</span>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </nav>
                    {% endif %}
                    {% if qso.iota or qso.my_iota %}
                    <nav class="level">
                        {% if qso.iota %}
                        <div class="level-left">
                            <div class="level-item">
                                <div class="icon-text">
                                    <span class="icon">
                                        <i class="mdi mdi-island"></i>
                                    </span>
                                    <span>IOTA Ref: {{ qso.iota}}</span>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if qso.my_iota %}
                        <div class="level-right">
                            <div class="level-item">
                                <div class="icon-text">
                                    <span class="icon">
                                        <i class="mdi mdi-island"></i>
                                    </span>
                                    <span>My IOTA Ref: {{ qso.my_iota }}</span>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </nav>
                    {% endif %}
                    {% if qso.dxcc or qso.my_excc %}
                    <nav class="level">
                        {% if qso.dxcc %}
                        <div class="level-left">
                            <div class="level-item">
                                <div class="icon-text">
                                    <span class="icon">
                                        <i class="mdi mdi-island"></i>
                                    </span>
                                    <span>DXCC: {{ qso.dxcc }}:{{ qso.country }}</span>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if qso.my_dxcc %}
                        <div class="level-right">
                            <div class="level-item">
                                <div class="icon-text">
                                    <span class="icon">
                                        <i class="mdi mdi-island"></i>
                                    </span>
                                    <span>My DXCC: {{ qso.my_dxcc }}:{{ qso.my_country }}</span>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </nav>
                    {% endif %}
                </div>
            </div>
		</div>
	</div>
</section>
{% endblock %}
{% block bottombody %}
<div id="modal-js-map" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">QSO from <a href="{{ url_for('callsigns.call', callsign=qso.station_callsign | replace('/', '_')) }}">{{ qso.station_callsign }}</a> to {{ qso.call }} on {{ qso.qso_date }} at {{ qso.time_on }}</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="box is-clipped" id="map" style="height : 500px;">
                <script>
                var map = L.map('map').setView([51.505, -0.09], 13);
                L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 19,
                    attribution: '© OpenStreetMap'
                }).addTo(map);
                L.maidenhead({
                    color : 'rgba(255, 0, 0, 0.4)'
                }).addTo(map);
                </script>
                <!-- Your content -->
            </div>
        </section>
        <footer class="modal-card-foot"></footer>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
  // Functions to open and close a modal
  function openModal($el) {
    $el.classList.add('is-active');
    map.invalidateSize();
  }

  function closeModal($el) {
    $el.classList.remove('is-active');
  }

  function closeAllModals() {
    (document.querySelectorAll('.modal') || []).forEach(($modal) => {
      closeModal($modal);
    });
  }

  // Add a click event on buttons to open a specific modal
  (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
    const modal = $trigger.dataset.target;
    const $target = document.getElementById(modal);

    $trigger.addEventListener('click', () => {
      openModal($target);
    });
  });

  // Add a click event on various child elements to close the parent modal
  (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
    const $target = $close.closest('.modal');

    $close.addEventListener('click', () => {
      closeModal($target);
    });
  });

  // Add a keyboard event to close all modals
  document.addEventListener('keydown', (event) => {
    const e = event || window.event;

    if (e.keyCode === 27) { // Escape key
      closeAllModals();
    }
  });
});
</script>
{% endblock %}