{% extends 'base.html' %}
{% block hero %}is-primary{% endblock %}
{% block content %}
		<div class="bd-hero-heading">
			<h1 class="title is-size-1">
				{% block title %} <p>View a QSO</p> {% endblock %}
			</h1>
		</div>
	</div>
</section>
<section class="section">
	<div class="box">
        <h3 class="title">QSO from <a href="{{ url_for('callsigns.call', callsign=qso.station_callsign | replace('/', '_')) }}">{{ qso.station_callsign }}</a> to {{ qso.call }} on {{ qso.qso_date }} at {{ qso.time_on }}</h3>
    </div>
    <div class="box">
		<div class="columns">
			<div class="column">
				<div class="box">
					<p class="title has-text-grey">Date & Time</p>
					<nav class="level">
						<div class="level-left">
							<div class="level-item">
								<div class="icon-text">
									<span class="icon">
										<i class="far fa-calendar"></i>
									</span>
									<span>QSO Date: {{ qso.qso_date }}</span>
								</div>
							</div>
						</div>
						{% if qso.qso_date_off %}
						<div class="level-right">
							<div class="level-item">
								<div class="icon-text">
									<span class="icon">
										<i class="far fa-calendar"></i>
									</span>
									<span>QSO Date Off: {{ qso.qso_date_off }}</span>
								</div>
							</div>
						</div>
						{% endif %}
					</nav>
					<nav class="level">
						<div class="level-left">
							<div class="level-item">
								<div class="icon-text">
									<span class="icon">
										<i class="far fa-clock"></i>
									</span>
									<span>QSO Time On: {{ qso.time_on }}</span>
								</div>
							</div>
						</div>
						{% if qso.time_off %}
						<div class="level-right">
							<div class="level-item">
								<div class="icon-text">
									<span class="icon">
										<i class="far fa-clock"></i>
									</span>
									<span>QSO Date Off: {{ qso.time_off }}</span>
								</div>
							</div>
						</div>
						{% endif %}
					</nav>
				</div>
				<div class="box">
					<p class="title has-text-grey">Bands & Modes</p>
					<nav class="level">
						<div class="level-left">
							<div class="level-item">
								<div class="icon-text">
									<span class="icon">
										<i class="fa-solid fa-tower-broadcast"></i>
									</span>
									<span>Band: {{ qso.band }}</span>
								</div>
							</div>
						</div>
						{% if qso.band_rx %}
						<div class="level-right">
							<div class="level-item">
								<div class="icon-text">
									<span class="icon">
										<i class="fa-solid fa-tower-broadcast"></i>
									</span>
									<span>Band RX: {{ qso.band_rx }}</span>
								</div>
							</div>
						</div>
						{% endif %}
					</nav>
					{% if qso.freq or qso.freq_rx %}
					<nav class="level">
						{% if qso.freq %}
						<div class="level-left">
							<div class="level-item">
								<div class="icon-text">
									<span class="icon">
										<i class="fa-solid fa-tower-broadcast"></i>
									</span>
									<span>Freq: {{ qso.freq | MhzFormat }}</span>
								</div>
							</div>
						</div>
						{% endif %}
						{% if qso.freq_rx %}
						<div class="level-right">
							<div class="level-item">
								<div class="icon-text">
									<span class="icon">
										<i class="fa-solid fa-tower-broadcast"></i>
									</span>
									<span>Freq RX: {{ qso.freq_rx | MhzFormat }}</span>
								</div>
							</div>
						</div>
						{% endif %}
					</nav>
					{% endif %}
					<nav class="level">
						<div class="level-left">
							<div class="level-item">
								<div class="icon-text">
									<span class="icon">
										<i class="fa-solid fa-wave-square"></i>
									</span>
									<span>Mode: {{ qso.mode }}</span>
								</div>
							</div>
						</div>
						{% if qso.submode %}
						<div class="level-right">
							<div class="level-item">
								<div class="icon-text">
									<span class="icon">
										<i class="fa-solid fa-wave-square"></i>
									</span>
									<span>Submode: {{ qso.submode }}</span>
								</div>
							</div>
						</div>
						{% endif %}
					</nav>
					{% if qso.sat_mode or qso.sat_name %}
					<nav class="level">
						{% if qso.sat_name %}
						<div class="level-left">
							<div class="level-item">
								<div class="icon-text">
									<span class="icon">
										<i class="fa-solid fa-satellite"></i>
									</span>
									<span>Sat Name: {{ qso.sat_name}}</span>
								</div>
							</div>
						</div>
						{% endif %}
						{% if qso.sat_mode %}
						<div class="level-right">
							<div class="level-item">
								<div class="icon-text">
									<span class="icon">
										<i class="fa-solid fa-satellite"></i>
									</span>
									<span>Sat Mode: {{ qso.sat_mode }}</span>
								</div>
							</div>
						</div>
						{% endif %}
					</nav>
					{% endif %}
				</div>
			</div>
			<div class="column">
				<div class="box">
						<p class="title has-text-grey">Locations</p>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}